<?xml version="1.0"?>
<robot name="clean_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find clean_bot_controller)/config/clean_bot_controller.yaml</parameters>
        </plugin>
    </gazebo>
</robot>