<?xml version="1.0"?>
<model>
  <name>Cup</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Aryan Hegde</name>
    <email>hegdearyandeveloper@gmail.com</email>
  </author>

  <description>
    A cup model for robot manipulation tasks.
  </description>
</model>