<?xml version="1.0"?>
<model>
  <name>Box Obstacle</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  
  <author>
    <name>CleanBot Project</name>
    <email>hegdearyandeveloper@gmail.com</email>
  </author>
  
  <description>
    A simple box obstacle for robot navigation and planning demonstrations.
  </description>
</model>